header .navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
}

#intro-section {
  position: relative;
  background-image: url(http://lukoan.com/tf/tej/assets/images/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#intro-section .container .row .A h2 {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 50px;
}

#intro-section .container .row .A i {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 85%;
  left: 50%;
  font-size: 100px;
  color: white;
}

#About .container .row .about-col1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#About .container .row .about-col2 {
  margin-top: 50px;
}

#About .container .row .about-col2 h2 {
  text-align: center;
  margin-bottom: 100px;
}

#Services {
  text-align: center;
  background-color: #ebe8e8f1;
}

#Services .container .top .services-col1 h2 {
  margin-bottom: 120px;
}

#Services .container .center .services-col i {
  font-size: 40px;
  color: grey;
}

#Services .container .center .services-col h5 {
  margin: 20px 0px;
  font-size: 15px;
}

#Services .container .center .services-col p {
  color: grey;
}

#Services .bottom {
  background-color: black;
  padding: 100px;
  margin-top: 50px;
}

#Services .bottom .row .services-col {
  color: white;
}

#Services .bottom .row .services-col i {
  font-size: 20px;
}

#Services .bottom .row .services-col h2 {
  font-size: 50px;
  margin: 20px 0px;
}

#portfolio .container-portfilo .top h2 {
  margin: 100px 0px;
}

#portfolio .container-portfilo .top h5 {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 50px;
}

#portfolio .container-portfilo .row .items {
  position: relative;
  overflow: hidden;
  padding: 0px;
}

#portfolio .container-portfilo .row .items:hover .overlay {
  opacity: .4;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#portfolio .container-portfilo .row .items:hover span {
  opacity: 1;
  z-index: 99;
}

#portfolio .container-portfilo .row .items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolio .container-portfilo .row .items:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

#portfolio .container-portfilo .row .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
}

#portfolio .container-portfilo .row span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  font-size: 25px;
}

#portfolio .container-portfilo .bottom .button_item {
  margin-top: 50px;
}

#blog {
  background-color: #dadada;
}

#blog .container .top h2 {
  margin: 50px 0px;
}

#blog .container .bottom div {
  position: relative;
}

#blog .container .bottom div img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

#blog .container .bottom div:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog .container .bottom div:hover .text {
  visibility: visible;
  z-index: 99;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#blog .container .bottom div .text {
  position: absolute;
  visibility: hidden;
  text-align: center;
  background-color: black;
  width: 100%;
  left: 0%;
  top: 80%;
  opacity: .5;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#blog .container .bottom div .text h6 {
  color: white;
}

#blog .container .bottom div .text h5 {
  color: white;
}

#blog .end {
  margin-top: 100px;
  padding: 80px;
  text-align: center;
  background-color: black;
}

#blog .end .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog .end .row div {
  margin-left: 20px;
  color: white;
}

#blog .end .row div i {
  font-size: 50px;
}

#blog .end .row div p {
  margin-top: 25px;
}

#blog .end .row div h5 {
  margin-top: 50px;
}

#contact .container .title {
  margin: 80px 0px;
}

#contact .container .row .item {
  background-color: black;
}

#contact .container .row .item .form-control {
  background-color: black;
}

#contact .container .row .item button {
  border: 1px solid white;
}

#contact .container .row .icons div i {
  font-size: 30px;
  margin: 20px 10px;
}

#footer {
  margin-top: 50px;
  background-color: black;
}

#footer .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  color: white;
}

#footer .container .content {
  text-align: center;
}

#footer .container .content span {
  font-size: 15px;
}

#footer .container .content__icons i {
  margin-right: 20px;
  font-size: 20px;
  color: white;
}
